@import url("https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap");

body {
  margin: 0;
  font-family: "Sora", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #a3613d;
}

code {
  font-family: "Sora", sans-serif;
  font-style: normal;
}

.slogan {
  font-size: 6px;
}

.footer {
  font-size: 8px;
}

.ant-drawer-close {
  position: absolute;
  right: 0px;
}

.title:hover {
  text-decoration: underline;
  cursor: pointer;
  color: #a3613d
}

.wheel {
 animation: spin 10s linear infinite;
}

@keyframes spin {
 0% { transform: rotate(0deg); }
 100% { transform: rotate(360deg); }
}


@tailwind base;
@tailwind components;
@tailwind utilities;
